head    
    meta(charset="UTF-8")
    title homeWork7
    link(rel="stylesheet", href="css/main.css")
    script(src="js/jquery-3.3.1.min.js" defer)
    script(src="js/cart.min.js" defer)
    script(src="js/product.min.js" defer)
    script(src="js/main.min.js" defer)