html, body {
    margin: 0 auto;
    width: 900px;
}

#app {
    display: flex;
}

#comments {
    width: 50%;
}

.comment {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border: 3px solid green;
    border-radius: 5px;

}
.comment :last-child {
    align-self: flex-end;
}

.not-approve {
    border: 3px solid rgb(105, 32, 32);
    background-color: darkkhaki;
}

.author {
    padding: 0 10px;
    margin: 0;
    margin-top: 20px;
}

.text {
    padding: 0 15px;
    /* padding-right: 50px;
    padding-left: 15px; */
}

.remove-btn {
    margin: 0 5px 5px 0;
}

#mainForm {
    width: 50%;
    display: block;
} 

.form {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    width: 200px;
    margin: 10px 0;
    display: block;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 10px;
}

textarea {
    width: auto;
}
button {
    padding: 10px 15px;
    border: 1px solid yellowgreen;
    border-radius: 5px;
    outline: none;
    width: max-content;
}

button:hover {
    background: greenyellow;
}